{% extends 'Shared/SharedView.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
    <div>
        <div class="ui orange inverted menu">
            <div class="ui container">
                <div class="item">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="right menu">
                    <div class="item">
                        <button class="ui orange button" id="addThread">Add Thread</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="ui thread container">
        <div class="ui divided items">
            {% for thread in threads %}
            <div class="item thread-item" id="{{thread.pk}}">
                <div class="content">
                    <a class="header">{{ thread.threadtitle }}</a>
                    <span class="date"> ({{ thread.creationdate }})</span>
                    <div class="meta">
                        <span>Written by {{ thread.student_netid.firstname }} {{ thread.student_netid.lastname }}</span>
                    </div>
                    <div class="description">
                        <p>{{ thread.threadcontent|truncatewords:30 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $(".thread-item").click(function (e) {
            window.location.href = "/Thread/" + $(this).attr('id') + '/';
        });
        
        $("#addThread").click(function (e) {
            window.location.href = "/CreateThread";
        });
    });
</script>
<style>
    .thread {
        cursor: pointer;
    }

    .thread-item {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .thread-item + .thread-item {
        margin-top: 10px;
    }

    .thread-date {
        font-size: 14px;
        color: #999;
    }
</style>

{% endblock %}