{% extends 'Shared/SharedView.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<body>
    <div>
        <div class="ui orange inverted menu">
            <div class="ui container">
                <div class="item">
                    <button class="ui white button" id="backButton">< Back</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="ui thread container">
        <div class="ui divided items">
            <div class="item thread-item">
                <div class="content">
                    <a class="header">{{ thread.threadtitle }}</a>
                    <span class="date"> ({{ thread.creationdate }})</span>
                    <div class="meta">
                        <span>Written by {{ thread.student_netid }}</span>
                    </div>
                    <div class="description">
                        <p>{{ thread.threadcontent }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui fluid action input">
            <input type="text" placeholder="Type your reply here...">
            <div class="ui button">Reply</div>
          </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#backButton").click(function() {
            window.location.replace("/ThreadList");
        })
    });
</script>
<style>
    .thread {
        cursor: pointer;
    }

    .thread-item {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .thread-item + .thread-item {
        margin-top: 10px;
    }

    .thread-date {
        font-size: 14px;
        color: #999;
    }
</style>

{% endblock %}